

<div class="controls">
    <div class="scale-slider-container">
        <mat-slider [max]="isKmType ? 100 : 48" [min]="isKmType ? 30 : 18" [(ngModel)]="graphScale">
        </mat-slider>
        <label>Масштаб: {{graphScale}} {{isKmType ? 'т.км' : 'мес'}}</label>
    </div>
    <div *ngIf="isKmType">
        <mat-form-field appearance="outline">
            <mat-label>Текущий пробег</mat-label>
            <input matInput [formControl]="currentValueCtrl" type="number" placeholder="Например: 30 (т.км)">
          </mat-form-field>
    </div>
    <button (click)="scrollToCurrent()" mat-stroked-button color="primary">Scroll to current</button>
</div>

<div class="progress-bar-container" id="scrollBlock">
    <div class="progress-container">
        <div class="scale-steps-container">
            <span *ngFor="let step of scaleSteps" class="scale-step" [style.left.%]="getItemMargin(step.value)">{{ isKmType ? step.text : step.text | date:'MMM y' }}</span>
        </div>
        <mat-progress-bar mode="determinate"
            [value]="progreesBarValue"
            [style.width.%]="progreesBarWidth"
        ></mat-progress-bar>
        <img id="car" class="car" [style.left.%]="getItemMargin(currentValue)" src="assets/images/tiguan.png" alt="">
    </div>

    <div class="items-container">
        <div class="item" *ngFor="let item of jobGraphItems" [style.left]="getItemMargin(item.value) + '%'" [ngbTooltip]="tipContent" container="body" triggers="click" [autoClose]="'outside'">
            <mat-icon
                [matBadge]="item.jobs.length"
                matBadgeColor="warn"
                matBadgeSize="small"
                [matBadgeHidden]="item.jobs.length === 1"
                color="primary"
            >{{ item.icon }}</mat-icon>

            <ng-template #tipContent>
                <div class="preview">
                    <h2>Работы на пробеге: {{ item.value }} {{isKmType ? 'т.км' : 'мес'}}</h2>
                    <h3 *ngIf="!isKmType">{{ getDateByValue(item.value) | date:'MMM y' }}</h3>
                    <table mat-table [dataSource]="item.jobs">
                        <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef> Название </th>
                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                        </ng-container>
                        <ng-container matColumnDef="colorType">
                        <th mat-header-cell *matHeaderCellDef> Вид работ </th>
                        <td mat-cell *matCellDef="let element"> {{ element.colorType === colorType.Prisadka ? 'Присадка' : 'Замена' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> Комментарий </th>
                        <td mat-cell *matCellDef="let element" class="description-cell"> {{element.description}} </td>
                        </ng-container>
                        <ng-container matColumnDef="complited">
                        <th mat-header-cell *matHeaderCellDef> Работы выполнены </th>
                        <td mat-cell *matCellDef="let element" class="description-cell"><mat-checkbox [checked]="element.jobComplited" (change)="onCompliteChanged(element, $event)"></mat-checkbox></td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="[ 'title', 'colorType', 'description', 'complited' ]"></tr>
                        <tr mat-row *matRowDef="let row; columns: [ 'title', 'colorType', 'description', 'complited' ];"></tr>
                    </table>
                </div>
            </ng-template>
    </div>
</div>
