.controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;

    & > * {
        margin-right: 25px;
    }

    .scale-slider-container {
        label {
            padding-left: 10px;
        }
    }
}


.progress-bar-container {
    padding: 56px 0;
    overflow-x: auto;
    scroll-behavior: smooth;

    .progress-container {
        position: relative;

        .car {
            transform: rotateY(180deg) translateX(100%);
            width: 130px;
            position: absolute;
            top: -49px;
            left: 0%;
            transition: left cubic-bezier(0, 0.95, 0.01, 0.96) 2s;
        }

        .scale-steps-container {
            position: absolute;
            left: 0;
            right: 0;
            top: -22px;
            font-size: 11px;
            color: rgba(63,81,181,0.5);

            .scale-step {
                position: absolute;
                transform: translateX(-50%);
            }
        }
    }

    .items-container {
        position: relative;
        height: 30px;
        padding: 4px 0;

        .item {
            position: absolute;
            transform: translateX(-50%);
            cursor: help;

            &:hover .preview {
                display: block;
            }
        }
    }
}

