<app-job-list
    *ngIf="jobList?.length"
    [jobs]="allJobs$ | async"
    (edited)="onEdit($event)"
    (deleted)="onDelete($event)"
></app-job-list>

<button mat-raised-button color="primary" (click)="add()">Add job</button>

<br><br><br>

<ng-container *ngIf="(kmJobs$ | async) as kmJobs">
    <app-progress-bar *ngIf="kmJobs.length" [jobs]="kmJobs" [currentValue]="15"></app-progress-bar>
</ng-container>
<hr>
<ng-container *ngIf="(timeJobs$ | async) as timeJobs">
    <app-progress-bar *ngIf="timeJobs.length" [jobs]="timeJobs" [currentValue]="possTime"></app-progress-bar>
</ng-container>

