<div class="user-info">
  Роль: {{ userRole() }}
  <button mat-raised-button color="primary" (click)="logout()">Logout</button>
</div>
<ng-container *ngIf="!isLoading(); else showSpinner">
  <hr />
  <app-progress-bar
    *ngIf="kmJobs().length"
    [jobs]="kmJobs()"
    [currentValue]="currentKmValue"
  ></app-progress-bar>
  <hr />
  <app-progress-bar
    *ngIf="timeJobs().length"
    [jobs]="timeJobs()"
    [currentValue]="possTime"
  ></app-progress-bar>

  <br />
  <hr />
  <br />

  <h2>Service jobs list</h2>
  <button mat-raised-button color="primary" (click)="add()" [disabled]="!isAdmin">Add job</button>

  <br />
  <br />

  <app-job-list
    *ngIf="allJobs()?.length"
    [jobs]="allJobs()"
    (edited)="onEdit($event)"
    (deleted)="onDelete($event)"
  ></app-job-list>
</ng-container>

<ng-template #showSpinner>
  <mat-spinner></mat-spinner>
</ng-template>
