<div class="user-info">
  Роль: {{ userRole() }}
  <button mat-raised-button color="primary" (click)="logout()">Logout</button>
</div>
<ng-container *ngIf="!isLoading; else showSpinner">
  <hr />

  <ng-container *ngIf="kmJobs$ | async as kmJobs">
    <app-progress-bar
      *ngIf="kmJobs.length"
      [jobs]="kmJobs"
      [currentValue]="currentKmValue"
    ></app-progress-bar>
  </ng-container>
  <hr />
  <ng-container *ngIf="timeJobs$ | async as timeJobs">
    <app-progress-bar
      *ngIf="timeJobs.length"
      [jobs]="timeJobs"
      [currentValue]="possTime"
    ></app-progress-bar>
  </ng-container>

  <br />
  <hr />
  <br />

  <h2>Service jobs list</h2>
  <button mat-raised-button color="primary" (click)="add()" [disabled]="!isAdmin">Add job</button>

  <br />
  <br />

  <app-job-list
    *ngIf="jobList?.length"
    [jobs]="(allJobs$ | async)!"
    (edited)="onEdit($event)"
    (deleted)="onDelete($event)"
  ></app-job-list>
</ng-container>

<ng-template #showSpinner>
  <mat-spinner></mat-spinner>
</ng-template>
