.mat-mdc-radio-button {
    margin-right: 20px;
}

.form-field {
    padding-bottom: 1.34375em;
}

form {
    display: flex;
    flex-direction: column;
}


.optional-jobs-container {
    display: flex;
    flex-direction: column;

    .mat-icon {
        cursor: pointer;
    }
}
