<div class="controls">
  <div class="scale-slider-container">
    <mat-slider [max]="sliderMaxValue" [min]="sliderMinValue">
      <input matSliderThumb [(ngModel)]="graphScale" />
    </mat-slider>
    <label>Масштаб: {{ graphScale }} {{ isKmType ? 'т.км' : 'мес' }}</label>
  </div>
  <div *ngIf="isKmType">
    <mat-form-field appearance="outline">
      <mat-label>Текущий пробег</mat-label>
      <input
        matInput
        [formControl]="currentValueCtrl"
        type="number"
        placeholder="Например: 30 (т.км)"
      />
    </mat-form-field>
  </div>
  <button (click)="scrollToCurrent()" mat-stroked-button color="primary">Scroll to current</button>
</div>

<div class="progress-bar-container" id="scrollBlock">
  <div class="progress-container">
    <div class="scale-steps-container">
      <span
        *ngFor="let step of scaleSteps"
        class="scale-step"
        [style.left.%]="getItemMargin(step.value)"
        >{{ isKmType ? step.text : (step.text | date: 'MMM y') }}</span
      >
    </div>
    <mat-progress-bar
      mode="determinate"
      [value]="progreesBarValue"
      [style.width.%]="progreesBarWidth"
    ></mat-progress-bar>
    <img
      id="car"
      class="car"
      [style.left.%]="getItemMargin(currentValue)"
      src="assets/images/tiguan.png"
      alt=""
    />
  </div>

  <div class="items-container">
    <div
      class="item"
      *ngFor="let item of jobGraphItems"
      [style.left]="getItemMargin(item.value) + '%'"
      (click)="openItemDialog(item)"
    >
      <mat-icon
        [matBadge]="item.jobs.length"
        matBadgeColor="warn"
        matBadgeSize="small"
        [matBadgeHidden]="item.jobs.length === 1"
        color="primary"
        [class.complited]="item.complited"
        >{{ item.icon }}</mat-icon
      >
    </div>
  </div>
</div>
