/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'src/app/shared/index';

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h2,
h3,
h4 {
  margin-bottom: 4px !important;
}

td.mat-mdc-cell,
th.mat-mdc-header-cell {
  padding: 2px 4px !important;

  &:first-of-type {
    padding-left: 24px !important;
  }
  &:last-of-type {
    padding-right: 24px !important;
  }
}

.no-wrap {
  white-space: nowrap;
}
