/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "src/app/shared/index";

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


h2, h3, h4 {
    margin-bottom: 4px !important;
}

.tooltip.show {
    opacity: 1 !important;
}

.tooltip {
    @include media-breakpoint-down(md) {
        position: fixed !important;
        top: 50% !important;
        left: 0px !important;
        transform: translate(0, -50%) !important;
        width: 100% !important;

        .arrow {
            display: none;
        }

        .preview {
            overflow-x: auto;

            .mat-table {
                width: 100%;
            }
        }
    }
}

.tooltip-inner {
    max-width: none !important;

    .mat-table {
        min-width: 350px;

        .mat-cell, .mat-header-cell {
            padding: 0 15px;

            &.description-cell {
                white-space: pre-line;
            }
        }
    }
}

td.mat-cell, th.mat-header-cell  {
    padding: 2px 4px !important;

    &:first-of-type {
        padding-left: 24px !important;
    }
    &:last-of-type {
        padding-right: 24px !important;
    }
}

.no-wrap {
    white-space: nowrap;
}
